

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Noto+Serif:400,400i,700,700i&display=swap');



html, body {
  padding:0;
  margin:0;
  /*height:100%;*/
}



body {
  /*display: flex;
  flex-direction: column;*/
  font-family: "Noto Sans", sans-serif;
}


h1 {
  font-size: 240%;
}

h1, h2 {
  font-family: "Noto Serif", serif;
  font-weight: normal;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  color:black;
  font-weight: bold;
}

a {
  text-decoration: none;
  color:blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1 a, h2 a, h3 a,
h1 a:hover, h2 a:hover, h3 a:hover {
  color:inherit;
  text-decoration: none;
}

body > header, body > footer {
  flex: 0 0 auto;
  color:#dddddd;
  background-color: black;
}

body > footer a {
  color:inherit !important;
}

section.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.container hr {
  height: 0.1em;
  border:none;
  background-color: #dddddd;
  width:70%;
  margin: 2em auto;
}

body > header nav {
  display: flex;
  flex-direction: row;
}
body > header nav a {
  padding:0.6em;
  margin-right:1em;
  border:solid 0.1em #ccc;
  color:#ccc;
  stroke:#ccc;
  transition: stroke 500ms, color 500ms, border-color 500ms;
}
body > header nav a:hover,
body > header nav a.current {
  border-color:#fff;
  color:#fff;
  stroke:#fff;
}
body > header h1, body > header h2 {
  color:#dddddd !important;
  margin: 0;
}
body > header h1 {
  font-weight: 700;
  font-style: italic;
  font-family: "Noto Serif";
  white-space: nowrap;
}
body > header h2 {
  font-weight: normal;
  margin-left: 1em;
  font-size: 120%;
}
body > header .title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex:1 1 auto;
}
body > header a.logo, body > header a.logo:hover  {
  color:inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
body > footer section.container,
body > header section.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
body > footer section.container {
  justify-content: center;
}
body > footer {
  font-size: 80%;
}


dl dt {
  font-weight: bold;
  margin-top: 0.4em;
}
dl dd {
  font-style: italic;
}

.mail-at::before {
  content:"@";
}

main {
  flex: 1 0 1px;
  overflow-y: auto;
  background-color: #f0edec;
  
  background: rgb(240,237,236);
  background: linear-gradient(90deg, rgba(240,237,236,1) 5%, rgba(246,246,245,1) 30%, rgba(246,246,245,1) 70%, rgba(240,237,236,1) 95%);

  color:#534646; /*#2a2323;*/
  box-shadow: 0px 20px 20px -20px #565555 inset, 0px -20px 20px -20px #565555 inset;
  border:solid 1px #ddd;
  border-style: solid none;
}


.two-parts {
  margin-top:-1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.two-parts .section-coding,
.two-parts .section-education {
  padding:2em 0 2em 0;
  padding-top:3em;padding-bottom:3em;
  flex:0 1 50em;
  display: flex;
  flex-direction: column;
}
.two-parts .section-coding {
  margin-left: auto;
  text-align: right;
  padding-right: 1em;
}
.two-parts .section-education {
  margin-right: auto;
  padding-left: 1em;
}

.two-parts > hr {
  flex:0 0 0.1em;
  border:none;
  background-color:rgb(151, 144, 144);
  padding: 0;
  margin: 0;
  width:auto;
  height: auto;
}

.two-parts h2 {
  margin-top:0;
  margin-bottom: 0;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.two-parts h2 a {
  text-decoration: none !important;
}
.two-parts h3 {
  font-family: "Noto sans";
  color: #555555;
  font-size: 90%;
  margin-top: 0;
  font-weight: normal;
}
.two-parts .section-education h3 {
  margin-left:4.4em;
}
.two-parts .section-coding h3 {
  margin-right:4.4em;
}
.two-parts .section-coding h2 {
  flex-direction: row-reverse;
}
.two-parts .section-education h2 a {
  margin-left:0.4em;
}
.two-parts .section-coding h2 a {
  margin-right:0.4em;
}
.two-parts h2 svg {
  flex: 0 0 auto;
}
.two-parts p {
  font-size: 120%;
}

.info-notice {
  background-color: #55696d;
  background: rgb(85,105,109);
  background: linear-gradient(180deg, rgba(85,105,109,0.5306104131105567) 0%, rgba(85,105,109,0.37374766801251746) 13px, rgba(85,105,109,0) 100px);
  padding: 3em 0;
}

.two-parts .more {
  padding-top: 2em;
  margin-top:auto;
  text-align:center;  
}


svg.ri {
  border:solid 1px #777;
  padding:0.2em;
  border-radius: 50%;
  box-shadow: 0 1px 4px #aaa;
}

.skills li {
  margin-top:0.6em;
}

.skills li small {
  display: block;
  color:#888;
  font-size: 80%;
}


.article-list {

}
.article-list article.preview {
  display: flex;
  flex-direction:row;
  margin-bottom:2em;
}
.article-list article.preview div.picture {
  position: relative;
  display:block;
  flex:0 0 200px;
  margin-right:1em;
}
.article-list article.preview div.picture img {
  width:100%; aspect-ratio:1;
  display: block;
}
.article-list article.preview div.excerpt {
  flex:1 1 auto;
}
.article-list article.preview div.excerpt h1 {
  margin-top:0;
  margin-bottom: 0.5em;
  font-size: 1.4rem;
}
.article-list article.preview div.excerpt h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top:0;
  margin-bottom: 0;
  color:#666;
}
.article-list article.preview div.excerpt p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.article-list article.preview div.picture img.emblem {
  width: 30%;
  aspect-ratio:1;
  object-fit: contain;
  position: absolute;
  top:0;
  left:0;
}  



article.blog-post {
  font-size: 110%;
}

article.blog-post header {
  color:white;
  text-shadow: 0 0 0.5em #000;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  background-blend-mode: darken;
}
article.blog-post header a {
  color: inherit;
}
article.blog-post header h1 {
  font-size: 3rem;
  margin:0;
  font-family: "Noto Serif";
  font-weight: bold;

}
article.blog-post header h2 {
  color:#e4e4e4;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top:0;
  margin-bottom: 0;
}
article.blog-post header .meta {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
article.blog-post aside {
  background-color: rgb(245, 239, 220);
  border: 1px solid rgb(248, 156, 90);
  padding: 1em;
  font-size: 0.9em;
  overflow: auto;
  border-radius: 0.2em;
  margin-bottom: 1em;
}
figure {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: #000 1px dotted;
  margin:0;
  border-radius: 0.2em;
  background-color: white;
  padding:0.5em;
}
figure figcaption {
  margin-top: 0.5em;
  padding-top: 0.5em;
  /*padding-left:1em;
  padding-right: 1em;*/
  text-align: center;
  font-size: 90%;;
  border-top:#000 dotted 1px;
}
figure.big {
  width:100%;
  margin-bottom: 2em;
}
figure.right-1, figure.right-2 {
  width: 35%;
  margin-left:1em;
  margin-bottom:1em;
  float: right;
}
figure img, figure video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 90vh;
}
figure.center {
  clear: both;
}
figure.center img {
  max-width: 100%;
  max-height: 90vh;
  width: auto;
  height: auto;
  margin: 0 auto;
}
figure.big img, figure.big video {
  aspect-ratio: 2;
}
figure.right-1 img, figure.right-1 video {
  aspect-ratio: 1;
}
figure.right-2 img, figure.right-2 video {
  aspect-ratio: 2;
}

figure button.fullSizer {
  position: absolute;
  top: 0.5em;
  right:0.5em;
  display: block;
  width:2em;
  height: 2em;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
  margin: 0;
  opacity: 0.5;
}
figure:hover button.fullSizer {
  opacity: 1;
}
.not_found {
  width: 100%;
  height: 10em;
  padding:1em;
  box-sizing: border-box;
  text-align: center;
  border: red dotted 2px;
  background-color: #f19696;
}

.related {
  border: 1px dotted black;
  border-radius: 0.2em;
  padding: 1em;
  background-color: #5fb5ca49;
  margin-top: 1em;
  margin-bottom: 1em;
  clear: both;
}
.related > :first-child {
  margin-top: 0;
}

.clear {
  clear:both;
}


.dotborder {
  margin:2em 1em 1em 1em;
  padding: 1em;
  border:#333333 dotted 0.2em;
  border-radius: 1em;
}


blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 2em;
  padding-left: 1em;
  border-left:solid #ccc 2px;
  font-style: italic;
}
* > blockquote:first-child {
  margin-top: 0;
}
blockquote cite {
  display: block;
  margin-top: 0.5em;
  text-align: right;
  font-style: normal;
  font-size: 90%;
  font-variant: small-caps;
}

dialog {
  box-shadow: 0 0.5em 1em #000;
  border-radius: 0.5em;
  border: #333 solid 1px;
  box-sizing: border-box;
  padding: 0.5em;
  height:fit-content;
  max-height: 100%;
}
dialog .close {
  position: fixed;
  top: 0.5em;
  right:0.5em;
  display: block;
  width:2em;
  height: 2em;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
  margin: 0;
  opacity: 0.5;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px white;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Apply a blur effect */
}

dialog video {
  display: block;
  max-height: calc(100vh - 1em);
  object-fit: contain;
}
dialog image {
  display: block;
  object-fit: contain;
}

@media (max-width:690px) {
  figure.right-1, figure.right-2 {
    width: 100%;
    max-width: 550px;
    margin:0 auto 2em auto;

    float: none;
  }
  article.blog-post header h1 {
    font-size: 3rem;
  }

  .article-list article.preview {
    display: block;
    margin-bottom: 3em;
  }
  .article-list article.preview div.picture img {
    aspect-ratio: 3;
    object-fit: cover;
  }
  .article-list article.preview div.picture img.emblem {
    width: 20%;
    aspect-ratio:1;
    object-fit: contain;
    position: absolute;
    top:0;
    left:0;
  }  
  

}
@media (max-width:510px) {
  article.blog-post header h1 {
    font-size: 2rem;
  }    
  article.blog-post header {
  }
  article.blog-post header .meta {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    font-size: 90%;
  }
}











.catchwords {
  border:none;
  background-color: #fff;
  border-radius: 1em;
  padding: 0.7em 0.7em 0.7em;
  /*box-shadow: 0px 1px 2px #555;*/
}

.catchwords h5 {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 80%;
  font-weight: normal;
}

.catchwords ul {
  list-style-type: none;  
  padding:0;
  margin:0;
}

.catchwords ul li {
  display: inline;
  padding:0;
  margin:0;
}

.catchwords ul li::before {
  content:"· ";
}
.catchwords ul li:first-child::before {
  content:"";
}




.contact-info {
  margin-top:2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info p {
  font-family: 'Noto Serif';
  font-style: italic;
  font-size: 120%;
}
.contact-info p.name span {
  border-bottom:solid 0.1em rgb(151, 144, 144);
  padding:0 1em 0 0;
}
.contact-info .cinfo {
  flex:0 0 auto;
}
.contact-info > svg {
  flex:0 0 auto;
  fill:#dddddd;
}
@media (max-width:510px) {
  .contact-info > svg {
    display: none;
  }
}




.white-feature {
  background-color: #fdfdfd;
  /*box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.3) inset;*/
  border-bottom: solid 1px rgb(177, 172, 172);
  background-image: radial-gradient(ellipse 100% 30% at 50% -10%, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 80%);
}

.i-am-the-man li {
  margin-bottom: 1em;
}


form label {
  display: block;
  font-size: 80%;
}
form label.inline {
  display: inline;
}
.error-fg,
p.error,
form label.error {
  color:#cf2828;
}
form label.error + input,
form label.error + select,
form label.error + textarea {
  border-color:#cf2828;
}


form input[type=text],
form input[type=number],
form input[type=email],
form textarea,
form input[type=submit],
form input[type=button],
form select,
button,
.button {
  border-radius: 0.3em;
  border:solid 0.1em #cccccc;
  padding:0.5em 1em;
  box-sizing: border-box;
  font-size: 110%;
}  

form input[type=text],
form input[type=number],
form input[type=email],
form select,
form textarea {
  width:100%;
  background-color: #fff;
}

form input[type=submit],
form input[type=button],
button,
.button {
  background: none;
  background-color: #eeeeee;
  color:#666666;
  cursor: pointer;
  box-shadow: 0 0.2em 0.4em #555;
}
form input[type=submit]:hover,
form input[type=button]:hover,
button:hover,
.button:hover {
  background-color: #ffffff;
  color:#333333;
}




.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.container .row {
  margin-left: -1em;
  margin-right: -1em;
}
.row > .col-big,
.row > .col-small,
.row > .col-half {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.row > .col-big {
  flex: 0 0 61%;
  width:61%;
  margin:0;
}
.row > .col-small {
  flex: 0 0 39%;
  width:39%;
  margin:0;
}
.row > .col-half {
  flex: 0 0 50%;
  width:50%;
  margin:0;
}
@media (max-width:690px) {
  .row {
    display: block;
  }
  .container .row {
    padding-left: 0em;
    padding-right: 0em;
  }
  .row > .col-big,
  .row > .col-small,
  .row > .col-half {
    margin:0;
    width:auto;
  }
}










/* THEME */
.section-general .theme-bg,
.general-bg {
    background-color:#534646;
}
.section-general a {
  text-decoration: underline;
}


/* SECTION CODING */
.section-coding h2,
/*.section-coding a,*/
.section-coding .theme-fg,
.coding-fg {
  color: #347f92;
}
.section-coding .theme-bg-light,
.coding-bg-light {
  background-color: #b4dde7;
}
.section-coding .theme-bg-lightest,
.coding-bg-lightest {
  background-color: #d4edf3;
}
.section-coding .theme-bg,
.coding-bg {
  background-color: #347f92;
}


/* SECTION EDUCATION */
.section-education h2,
/*.section-education a,*/
.section-education .theme-fg,
.education-fg {
  color: #b37337;
}
.section-education .theme-bg-light,
.education-bg-light {
  background-color: #e6cbb0;
}
.section-education .theme-bg-lightest,
.education-bg-lightest {
  background-color: #f1e1d0;
}
.section-education .theme-bg,
.education-bg {
  background-color: #b37337;
}


/* SECTION BLOG */
.section-blog h2,
/*.section-blog a,*/
.section-blog .theme-fg,
.education-fg {
  color: #1d1d1d;
}
.section-blog .theme-bg-light,
.blog-bg-light {
  background-color: #c0c0c0;
}
.section-blog .theme-bg-lightest,
.blog-bg-lightest {
  background-color: #e4e4e4;
}
.section-blog .theme-bg,
.blog-bg {
  background-color: #1d1d1d;
}





@media (max-width:690px) {
  body > header section.container {
    flex-direction: column;
  }
  body > header nav {
    margin-top: 0.7em;
  }
  body > header h2 {
    font-size: 100%;
  }
  .two-parts {
    flex-direction: column;
  }
  .two-parts .section-coding,
  .two-parts .section-education {
    text-align: left;
    flex: 0 1 auto;
    padding:1em 0;
  }
  .two-parts .section-coding h3,
  .two-parts .section-education h3 {
    margin-left:4.8em;
    margin-right:0;
  }
  .two-parts .section-coding h2 {
    flex-direction: row;
  }
  .two-parts .section-coding h2 a {
    margin-left:0.4em;
    margin-right:0;
  }
    
}



@media (max-width:510px) {
  body > header h2 {
    display: none;
  }
  body > header section.container {
    justify-content: center;
  }
  body > header {
    justify-content: center;
  }
  .two-parts p {
    font-size: inherit;
  }
  .two-parts h2 {
    font-size: 150%;
  }
  .two-parts .section-coding,
  .two-parts .section-education {
    margin:1em 0;
    padding:0;
  }
  .two-parts .section-coding h3,
  .two-parts .section-education h3 {
    margin-left:3.6em;
    margin-right:0;
  }
}








.illuFeature {
  display: flex;
  flex-direction: row;
  margin: 2em 0;
  align-items: flex-start;
}

h2 + .illuFeature {
  margin-top: 0;
}

.illuFeature > svg {
  /*border:solid 1px #cccccc;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow:0 2px 4px #777;*/
  flex: 0 0 auto;
}

.illuFeature > div {
  flex: 1 1 auto;
  margin-left: 1em;
}
.illuFeature > div h4 {
  font-size: 200%;
  font-weight: normal;
  margin: 0.4em 0;
}
.illuFeature > div h4:first-child {
  margin-top: 0;
}
.illuFeature:nth-of-type(2n){
  flex-direction: row-reverse;
}
.illuFeature:nth-of-type(2n) > div {
  /*text-align: right;*/
  margin-right: 1em;
}

@media (max-width:510px) {
  .illuFeature > svg {
    display: none;
  }
  .illuFeature:nth-of-type(2n) > div,
  .illuFeature > div {
  /*  text-align: left;*/
    margin-right: 0;
    margin-left: 0;
  }
}






.backdrop {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop .dlg {
  background-color: white;
  background: rgb(240,237,236);
  background: linear-gradient(90deg, rgba(240,237,236,1) 5%, rgba(246,246,245,1) 30%, rgba(246,246,245,1) 70%, rgba(240,237,236,1) 95%);
  border-radius: 1em;
  border: solid 0.1em #fff;
  padding: 2em;
  box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.3);
}

.backdrop .dlg h2 {
  margin-top:0;
}


a[href="#skills"] {
  display: block;
  text-align: center;
}







.paralax {
  background-position-x:center;
  background-position-y:50%;
  background-size:cover;
  border-bottom:1px solid #777;
  box-shadow: 0 15px 30px -15px #000 inset, 0 -20px 20px 20px #fff;
}

.paralax.px_start {
  height:170px;
}
.paralax.px_other {
  height:80px;
}
@media (max-width:690px) {
  .paralax {
    display: none;
  }
}





.singleFeedback {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2em;
  border:solid 1px #777;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 2px 4px #aaa;
}
.singleFeedback p {
  text-align: center;
  font-size: 120%;
  font-style: italic;
  font-family: 'Noto Serif';
  margin-bottom: 0.3em;
}
.singleFeedback small {
  display: block;
  color:#777;
  text-align: right;
}
.singleFeedback small::before {
  content:"— ";
}
.singleFeedback h4 {
  margin-top: 0;
}









.feedbackSectionSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.feedbackSectionSelect label {
  flex:0 1 300px;
  margin: 1em;
  transition-duration: 0.4s;
  transition-property: none;
  /*height,padding,margin*/
}
.feedbackSectionSelect label input {
  display: none;
}
.feedbackSectionSelect label input + span {
  border: 1px solid #777;
  box-shadow: 0 2px 4px #aaa;
  background-color: #eee;
  display: block;
  height:100%;
  width:100%;
  padding: 1.5em 1em 1em 1em;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.feedbackSectionSelect label input:enabled + span {
  cursor: pointer;
}
.feedbackSectionSelect label input + span::after {
  /*transition-duration:  0.3s;
  transition-property: height, margin-top, margin-bottom, padding, opacity;*/
  display: block;
  position: absolute;
  width:2em;
  height:2em;
  background-color: #eee;
  content: "";
  top:0;
  left:50%;
  margin:-1em 0 0 -1em;
  border-radius: 50%;
  box-shadow: 0 2px 4px #aaa;
  border: 1px solid #777;
}
/*.feedbackSectionSelect label.remove {
  height:0;
  margin:0;
  padding:0;
  opacity: 0;
  overflow: hidden;
}*/
.feedbackSectionSelect label:hover input:enabled + span {
  background-color: white;
}
.feedbackSectionSelect label input[value=education]:disabled:checked + span,
.feedbackSectionSelect label input[value=education] + span {
  color: #b37337;
}
.feedbackSectionSelect label input[value=coding]:disabled:checked + span,
.feedbackSectionSelect label input[value=coding] + span {
    color: #347f92;
}
.feedbackSectionSelect label input[value=education]:checked + span {
  background-color: #f1e1d0;
}
.feedbackSectionSelect label input[value=coding]:checked + span {
  background-color: #d4edf3;
}
.feedbackSectionSelect label input:checked + span::after {
  stroke:white;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}
.feedbackSectionSelect label input[value=education]:checked + span::after {
  background-color: #b37337;
}
.feedbackSectionSelect label input[value=coding]:checked + span::after {
  background-color: #347f92;
}
.feedbackSectionSelect label input:disabled + span {
  color: gray;
}
@media (max-width:510px) {
  .feedbackSectionSelect {
    display: block;
  }
  .feedbackSectionSelect label {
    margin:2em 0;
  }
}



table.ratingsTable {
  border-collapse: collapse;
  border-spacing: 0;
}
table.ratingsTable tr:nth-child(2n) {
  background-color: #ddd;
}

.ratingsRadio {
  display: block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  border-radius: 50%;
  border: solid 1px #777;
  box-sizing: content-box;
  box-shadow: 0 1px 3px #777 inset;
  margin:0.3em;
  padding:0.2em;
  text-align: left;
}
.ratingsRadio input {
  display:none;
}
.ratingsRadio input+span {
  padding:0;
  margin:0;
  display:block;
  width: 1.6em;
  height: 1.6em;
}
.ratingsRadio input:checked + span {
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #666;
  box-shadow: 0 2px 3px #eee inset;
  border: solid 1px #777;

}



section.next-page {
  text-align: right;
  clear: both;
}

section.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
}
section.pagination .pagination-mode {
  font-size: 90%;
  font-variant: small-caps;
}
section.pagination ul {
  list-style-type: none;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap:0.3em;
}
section.pagination ul li {
  padding:0;
  margin: 0;
}
section.pagination ul li a {
  padding: 0.25em 0.5em;
}
section.pagination ul li.current a {
  border-radius: 0.2em;
  background-color: blue;
  color: white;
}
section.pagination ul li.next-page {
  border: blue solid 1px;
}






a .hopp_v,
a .hopp_h {
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
a:hover .hopp_v {
  animation-name: hopp_v;
}
a:hover .hopp_h {
  animation-name: hopp_h;
}
@keyframes hopp_v {
  0% {
    top:0px;
  }

  25% {
    top:3px;
  }

  75% {
    top:-3px;
  }

  100% {
    top:0;
  }
}

@keyframes hopp_h {
  0% {
    left:0px;
  }

  25% {
    left:3px;
  }

  75% {
    left:-3px;
  }

  100% {
    left:0;
  }
}




@keyframes movein {
	from {margin-left: -50px;opacity:0;}
	to {margin-left: 0;opacity:1;}
}
.movein {
	animation-name: movein;
	animation-duration: 1s;
}
@keyframes movein2 {
	from {margin-left: 50px;opacity:0;}
	to {margin-left: 0;opacity:1;}
}
.movein2 {
	animation-name: movein2;
	animation-duration: 1s;
}

@keyframes movedown {
	from {top: -50px;opacity:0;}
	to {top: 0;opacity:1;}
}
.movedown {
	position:relative;
	animation-name: movedown;
	animation-duration: 1s;
}




table.table {
  border-collapse: collapse;
  border: solid 2px #444444;
  background-color: white;
  box-shadow: 0 0 1em #0000003a;
}
table.table th {
  background-color: wheat;
}
table.table td, table.table th {
  border: solid 1px #666666;
  padding: 0.5em 1em;
  text-align: left;
}
table.table td.right, table.table th.right {
  text-align: right;
}
table.table td.center, table.table th.center {
  text-align: center;
}
table.table.vline-1 tr td:nth-child(1), table.table.vline-1 tr th:nth-child(1) {
  border-right-width: 3px;
}
table.table.vline-2 tr td:nth-child(2), table.table.vline-2 tr th:nth-child(2) {
  border-right-width: 3px;
}
table.table.vline-3 tr td:nth-child(3), table.table.vline-3 tr th:nth-child(3) {
  border-right-width: 3px;
}
table.table.vline-4 tr td:nth-child(4), table.table.vline-4 tr th:nth-child(4) {
  border-right-width: 3px;
}











mjx-mn {
  color: rgb(3, 123, 128);
}
mjx-mo {
  color: rgb(167, 0, 0);
}